*.bin
*.dll
*.h
*.lib
*.cfg
__pycache__/*
.pytest_cache
.ruff_cache
.ipynb_checkpoints/

update_blocker

close_box.py
test_oestream.py
mypy.ini

docs/build
docs/source/_static
docs/source/_templates

testarea.ipynb

multiwin.json
multiwin.py
testgui.py
gui_radio.py
activity.log
ViperBoxInterface.log

.dockerignore
.vsconfig-2017
Dockerfile

Recordings/
Settings/

deploy_viperbox_user