repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.0.285
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^gui.py
  - repo: https://github.com/ambv/black
    rev: 23.7.0
    hooks:
      - id: black
        exclude: ^gui.py
      # language_version: python3.11
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: 'v1.5.1'  # Use the sha / tag you want to point at
#     hooks:
#     - id: mypy
#       exclude: NeuraviperPy.py
#       args: [--ignore-missing-imports]
